*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.page{
    display: flex;
    flex-direction: column;
    padding:10%;
}
.header{
    text-align: center;
    padding: 20px;
}
.container {
    padding:1%;
    border: gray solid 1px;
    display: flex;
    flex:1;
    flex-direction: column;
}
.eachForm {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    height:10vh;
}
.eachFormTextArea{
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    min-height: 10vh;
}
.eachFormCheckbox {
    border: gray solid 1px;
    margin-bottom: 15px;
    display: flex;
    height:4vh;
}
.eachFormText{
    display: flex;
    justify-content: start;
    align-items: end;
    margin-bottom:0.5vh;
    height:3vh;
}
.eachFormCheckboxText{
    display: flex;
    justify-content: left;
    align-items: center;
}
.underText{
    display: flex;
    padding-bottom: 2vh;
    font-size: smaller;
    color: gray;
}
.button{
    color: white;
    background-color: dodgerblue;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    height: 5vh;
    width: 10vh;
}
.button:hover {
    background-color: royalblue;
}
.subselect{
    display: flex;
    flex-direction: column;
    min-height:5vh;
    margin-bottom: 4vh;
}
.buttonsArea{
    display: flex;
    flex-direction: row;
    height: 5vh;
    width: 15%;
    justify-content: space-between;
}
